<div class="site-stats-card shadow-sm">
    <h6>访问统计</h6>
    <div id="busuanzi_container_site_uv">
        <span>本站访客数 : </span><span id="busuanzi_value_site_uv"></span>
    </div>
    <div id="busuanzi_container_site_pv">
        <span>本站总访问量 : </span><span id="busuanzi_value_site_pv"></span>
    </div>
</div>